@page "/todo"

<!-- It will show the ToDo items that are left to be completed -->
<h3>Todo items (@todos.Count(todo => !todo.IsDone))</h3>

<ul>
    @foreach (var todo in todos)
    {
        <li>
            @if (todo.IsDone == true)
            {
                @todo.Title
                <input type="checkbox" @bind="todo.IsDone" /> 
            }
            else if(todo.IsDone == false)
            {
                @todo.Title
                <input type="checkbox" @bind="todo.IsDone" />   
            }
        </li>
       
    }
</ul>

<input class="form-control" placeholder="Something todo" @bind="newTodo" />
<button class="btn btn-primary mt-2" @onclick="AddTodo">Add todo</button>
<button class="btn btn-danger mt-2" @onclick="ClearTodoList">Clear ToDo List</button>

<ul class="mt-5">
    @foreach (var todo in todos)
    {
        @if (todo.IsDone == true)
        {
            <li><s>@todo.Title</s></li>
        }
        else
        {
            <li>@todo.Title</li>
        }      
    }
</ul>

@code {
    private List<TodoItem> todos = new();
    private string? newTodo;

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            //add a new ToDo item to the list
            todos.Add(new TodoItem { Title = newTodo });
            //clear the input field
            newTodo = string.Empty;
        }
    }
    private void ClearTodoList()
    {
        if (todos.Any())
        {
            todos.Clear();
        }
    }
}